<div class="px-lg-5 px-2 w-100">
  <h1 class="text-primary mb-4">Créez votre compte</h1>
  <p class="text-secondary mb-5">
    Bienvenue chez Taxi Gestion 👋
    <br />
    Vous pourrez commencer à utiliser l'application après avoir créé votre compte.
  </p>
  <form
    class="mb-4"
    [formGroup]="registerForm"
    [appLoadAction]="register$"
    #loadAction="loadAction"
    (actionSuccess)="onRegisterActionSuccess()"
    (actionError)="onRegisterActionError($event)"
    (ngSubmit)="onSubmitRegister(loadAction.start)">
    <app-username-field
      [usernameControl]="registerForm.controls.username"
      [touched]="registerForm.controls.username.touched"
      [errors]="registerForm.controls.username.errors"></app-username-field>
    <app-password-field
      [passwordControl]="registerForm.controls.password"
      [touched]="registerForm.controls.password.touched"
      [errors]="registerForm.controls.password.errors"
      [displayAllErrors]="true">
      <ng-container slot="hint">Doit contenir minuscule, majuscule, chiffre et caractère spécial</ng-container>
    </app-password-field>
    <app-terms-field
      [termsControl]="registerForm.controls.terms"
      [touched]="registerForm.controls.terms.touched"></app-terms-field>
    <div class="text-danger" *ngIf="registerForm.errors?.['unknown']">
      Une erreur inconnue est survenue pendant la création de votre compte.
    </div>
    <button
      [appLoadActionDisplay]="loadAction.isLoading$ | async"
      #loadActionDisplay
      type="submit"
      class="btn btn-primary mt-5 p-3 w-100"
      [disabled]="loadActionDisplay.isLoading">
      <ng-container slot="loadActionDisplayIdle">Créer mon compte</ng-container>
      <ng-container slot="loadActionDisplayLoading">
        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
        Création en cours...
      </ng-container>
    </button>
  </form>
  <p class="mt-5 text-center">
    Vous avez déjà un compte&nbsp;?
    <a
      class="text-decoration-none ms-1"
      (click)="registerForm.reset()"
      routerLink="/login"
      [queryParams]="username.value ? { username: username.value } : null">
      Connectez-vous
    </a>
  </p>
</div>
