<app-autocomplete-field
  placeholder="Rechercher un passager par son nom, prénom..."
  [emptyValue]="regularEmptyValue"
  [minSearchTermLength]="2"
  [toSearchTerm]="toSearchTerm"
  [toTrackBy]="toTrackBy"
  [query$]="query$"
  [formGroup]="searchFormGroup"
  [validator]="regularValuesValidator"
  [revalidate]="{ status: regularFieldControl.statusChanges | async, touched: regularFieldControl.touched }"
  [prefilled]="prefilled"
  [setDefaultSelectedValue]="defaultValue"
  (actionError)="actionError.emit($event)"
  (selectedValue)="onSelectedValueChange($event)">
  <ng-template #resultTemplate let-templatedValue>
    <b>{{ templatedValue.lastname }} {{ templatedValue.firstname }}</b>
    <br />
    <ng-container *ngIf="templatedValue.phones?.length > 0">
      <small>
        Tèl {{ templatedValue.phones && templatedValue.phones[0].phoneType }}:
        {{ templatedValue.phones && templatedValue.phones[0].phoneNumber }}
      </small>
    </ng-container>
    <ng-container *ngIf="templatedValue.phones?.length === 0"><small>Pas de téléphone enregistré</small></ng-container>
    <br />
    <ng-container *ngIf="templatedValue.waypoints && templatedValue.waypoints[0]">
      <small>Domicile: {{ templatedValue.waypoints[0].place.context }}</small>
      <ng-container *ngIf="templatedValue.waypoints[0]?.comment?.length > 0">
        <br />
        <small>Commentaire domicile: {{ templatedValue.waypoints[0].comment }}</small>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="templatedValue.waypoints?.length === 0"><small>Pas de domicile enregistré</small></ng-container>
  </ng-template>
  <ng-template #selectedValueTemplate let-selectedValue>
    <ng-container *ngIf="selectedValue.id === ''"><small>Pas de passager sélectionné</small></ng-container>
    <ng-container *ngIf="selectedValue.id !== ''">
      <small>Passager: {{ selectedValue.civility }} {{ selectedValue.lastname }} {{ selectedValue.firstname }}</small>
      <ng-container *ngIf="selectedValue.comment?.length > 0">
        <br />
        <small>Commentaire passager: {{ selectedValue.comment }}</small>
      </ng-container>
    </ng-container>
  </ng-template>
</app-autocomplete-field>
