app-planning-row {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 70px;
}

app-planning-row > div {
  display: flex;
  flex: 1;
}

.planning-slot {
  transition: box-shadow 0.3s;

  &:hover {
    border-radius: 5px;
    box-shadow: $primary-border-subtle 0 0 0 2px inset;
  }
}

.shadow-right {
  box-shadow: 5px 0 5px -2px rgb(0 0 0 / 10%);
}

.planning-session {
  background-color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: $primary-bg-subtle;
  }
}
