<form [formGroup]="formGroup">
  <div formControlErrors="place">
    <label for="place" class="visually-hidden"><ng-content></ng-content></label>
    <div class="input-group">
      <span class="input-group-text pe-0">
        <i class="text-muted ri-search-line" aria-hidden="true"></i>
      </span>
      <input
        #placeInput
        type="search"
        placeholder="Entrez une adresse, un lieu-dit..."
        name="place"
        id="place"
        class="form-control border-start-0 position-relative"
        [ngClass]="validation(formGroup.controls.place)"
        autocomplete="off"
        aria-describedby="place"
        aria-haspopup="true"
        formControlName="place"
        [attr.aria-describedby]="placeNotFound ? 'place-desc-error' : null"
        [attr.aria-expanded]="placeResultsDropdown.expanded$ | async"
        (input)="
          search(placeInput.value);
          placeInput.value.length <= minSearchTermLength ? placeResultsDropdown.reduce() : placeResultsDropdown.expand()
        "
        (focus)="placeInput.value.length <= minSearchTermLength ? placeResultsDropdown.reduce() : placeResultsDropdown.expand()"
        (keyup.escape)="placeResultsDropdown.reduce()"
        (keyup.enter)="placeResultsDropdown.activeIndex = 0; placeResultsDropdown.focus()" />
      <button type="button" *ngIf="placeInput.value && displayReset" class="btn input-group-btn" (click)="clear()">
        <i class="ri-close-line"></i>
      </button>
      <ng-content></ng-content>
    </div>
    <ul
      #placeResultsDropdown="placeResultsDropdown"
      appPlaceResultsDropdown
      [dropdownControl]="placeInput"
      [class.show]="placeResultsDropdown.expanded$ | async"
      class="dropdown-menu position-sticky mt-1"
      aria-labelledby="place">
      <li #results *ngFor="let place of (placesFound$ | async) ?? []; index as placeIndex; trackBy: trackByPlaceName">
        <button
          type="button"
          class="dropdown-item"
          [class.active]="placeResultsDropdown.activeIndex === placeIndex"
          [attr.aria-current]="placeResultsDropdown.activeIndex === placeIndex ? true : null"
          (focusin)="placeResultsDropdown.setIndex(placeIndex)"
          (focusout)="placeResultsDropdown.setIndex(-1)"
          (click)="setPlaceSuggestion(place); placeResultsDropdown.reduce()">
          <b>{{ place.label }}</b>
          <br />
          <small>{{ place.context }}</small>
        </button>
      </li>
    </ul>
    <ng-container *ngIf="selectedPlace$ | async as selectedPlace">
      <small *ngIf="selectedPlace.context === ''">Pas d'adresse sélectionnée</small>
      <small *ngIf="selectedPlace.context !== ''">Adresse sélectionnée: {{ selectedPlace.context }}</small>
    </ng-container>
  </div>
</form>
