<app-autocomplete-field
  placeholder="Rechercher une adresse, un lieu-dit..."
  [minSearchTermLength]="0"
  [emptyValue]="placeEmptyValue"
  [toSearchTerm]="toSearchTerm"
  [toTrackBy]="toTrackBy"
  [query$]="query$"
  [formGroup]="searchFormGroup"
  [validator]="placeValuesValidator"
  [revalidate]="{ status: placeFieldControl.statusChanges | async, touched: placeFieldControl.touched }"
  [prefilled]="prefilled"
  [setDefaultSelectedValue]="defaultValue"
  (selectedValue)="onSelectedValueChange($event)">
  <ng-template #resultTemplate let-templatedValue>
    <b>{{ templatedValue.label }}</b>
    <br />
    <small>{{ templatedValue.context }}</small>
  </ng-template>
  <ng-template #selectedValueTemplate let-selectedValue>
    <ng-container *ngIf="selectedValue.context === ''"><small>Pas d'adresse sélectionnée</small></ng-container>
    <ng-container *ngIf="selectedValue.context !== ''">
      <small>Adresse: {{ selectedValue.context }}</small>
    </ng-container>
  </ng-template>
</app-autocomplete-field>
