<div class="px-3 py-5 container-fluid">
  <h1>Tableau de bord</h1>
</div>
<div class="p-5 container-fluid">
  <div class="row">
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/daily-list']">Planning quotidien liste</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/agenda-manager']">Agenda Manager</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/agenda']">Agenda Personnel</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/regular']">Fiches passager</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/billing']">Facturation</button>
  </div>
</div>
