<div class="d-flex">
  <h2 class="pt-2 pb-4 text-primary">Planifier un retour</h2>
  <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
    <i class="ri-close-line ri-2x" aria-hidden="true"></i>
    <span class="visually-hidden">Fermer</span>
  </a>
</div>
<form
  [formGroup]="scheduleReturnForm"
  [appLoadAction]="scheduleReturn$"
  #loadAction="loadAction"
  (actionSuccess)="onScheduleReturnActionSuccess($event)"
  (actionError)="onScheduleReturnActionError($event)"
  (ngSubmit)="onSubmitReturnToSchedule(loadAction.start)">
  <div class="mb-3">
    <label for="pendingReturnId" class="form-label">Retour pour le passager</label>
    <app-pending-return-field
      [date]="(planningDay$ | async) ?? ''"
      (selectPendingReturns)="onSelectPendingReturnChange($event)"></app-pending-return-field>
    <input id="pendingReturnId" type="hidden" name="pendingReturnId" formControlName="pendingReturnId" />
  </div>
  <div class="mb-3">
    <label for="departureDatetime" class="form-label">Date et heure du retour</label>
    <input
      id="departureDatetime"
      type="datetime-local"
      class="form-control"
      name="departureDatetime"
      formControlName="departureDatetime" />
  </div>
  <div class="mb-3">
    <label for="departurePlace" class="form-label">Lieu de départ</label>
    <app-place-field
      (selectPlace)="onSelectDepartureChange($event)"
      [defaultValue]="(departureDisplay$ | async) ?? ''"></app-place-field>
    <input id="departurePlace" type="hidden" name="departurePlace" formControlName="departurePlace" />
  </div>
  <div class="mb-3">
    <label for="arrivalPlace" class="form-label">Lieu d'arrivée</label>
    <app-place-field
      (selectPlace)="onSelectArrivalChange($event)"
      [defaultValue]="(destinationDisplay$ | async) ?? ''"></app-place-field>
    <input id="arrivalPlace" type="hidden" name="arrivalPlace" formControlName="arrivalPlace" />
  </div>
  <app-estimate-journey-fields
    [form]="$any(scheduleReturnForm)"
    [estimateJourney]="estimateJourney$ | async"
    (formControlUpdated)="updateEstimateFields($event)"></app-estimate-journey-fields>
  <div class="mb-3">
    <label for="driver" class="form-label">Chauffeur</label>
    <app-driver-field
      (selectDriver)="onSelectDriverChange($event)"
      [defaultValue]="(driverDisplay$ | async) ?? ''"></app-driver-field>
    <input id="driver" type="hidden" name="driver" formControlName="driver" />
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn btn-primary mt-3 w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Planifier le retour</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Planification en cours...
    </ng-container>
  </button>
  <!-- TODO Mutualiser les erreurs communes -->
  <div class="text-danger mt-2" *ngIf="scheduleReturnForm.errors?.['validationFailedAfterApiCallError']">
    La structure des données reçues ne respecte pas le contrat de transfer. La requête ne peut pas être effectuée. Prévenir
    Romain qu'il va faire des heures supp'.
  </div>
  <div class="text-danger mt-2" *ngIf="scheduleReturnForm.errors">
    Une erreur est survenue lors de l'appel au service distant.
  </div>
</form>
