<form [formGroup]="formGroup">
  <label for="returnToAffect" class="visually-hidden"><ng-content></ng-content></label>
  <div class="input-group">
    <span class="input-group-text pe-0">
      <i class="text-muted ri-search-line" aria-hidden="true"></i>
    </span>
    <input
      #returnToAffectInput
      type="search"
      placeholder="Rechercher un retour par le nom du passager"
      name="returnToAffect"
      id="returnToAffect"
      class="form-control border-start-0"
      autocomplete="off"
      aria-describedby="returnToAffect"
      aria-haspopup="true"
      formControlName="returnToAffect"
      [attr.aria-describedby]="returnToAffectNotFound ? 'returnToAffect-desc-error' : null"
      [attr.aria-expanded]="returnToAffectResultsDropdown.expanded$ | async"
      (input)="
        search(returnToAffectInput.value);
        returnToAffectInput.value.length <= minSearchTermLength
          ? returnToAffectResultsDropdown.reduce()
          : returnToAffectResultsDropdown.expand()
      "
      (focus)="
        returnToAffectInput.value.length <= minSearchTermLength
          ? returnToAffectResultsDropdown.reduce()
          : returnToAffectResultsDropdown.expand()
      "
      (keyup.escape)="returnToAffectResultsDropdown.reduce()"
      (keyup.enter)="returnToAffectResultsDropdown.activeIndex = 0; returnToAffectResultsDropdown.focus()" />
    <button type="button" *ngIf="returnToAffectInput.value && displayReset" class="btn input-group-btn" (click)="clear()">
      <i class="ri-close-line"></i>
    </button>
    <ng-content></ng-content>
  </div>
  <ul
    #returnToAffectResultsDropdown="returnToAffectResultsDropdown"
    appReturnToAffectResultsDropdown
    [dropdownControl]="returnToAffectInput"
    [class.show]="returnToAffectResultsDropdown.expanded$ | async"
    class="dropdown-menu position-absolute mt-1"
    aria-labelledby="returnToAffect">
    <li
      #results
      *ngFor="
        let returnToAffect of (returnToAffectsFound$ | async) ?? [];
        index as returnToAffectIndex;
        trackBy: trackByReturnToAffectId
      ">
      <button
        type="button"
        class="dropdown-item"
        [class.active]="returnToAffectResultsDropdown.activeIndex === returnToAffectIndex"
        [attr.aria-current]="returnToAffectResultsDropdown.activeIndex === returnToAffectIndex ? true : null"
        (focusin)="returnToAffectResultsDropdown.setIndex(returnToAffectIndex)"
        (focusout)="returnToAffectResultsDropdown.setIndex(-1)"
        (click)="setReturnToAffectSuggestion(returnToAffect); returnToAffectResultsDropdown.reduce()">
        <b>{{ returnToAffect.passenger }}</b>
        <br />
        <small>{{ returnToAffect.departurePlace.label }} =></small>
        <br />
        <small>{{ returnToAffect.arrivalPlace.label }}</small>
      </button>
    </li>
  </ul>
</form>
