<div class="d-flex h-100 flex-column overflow-auto p-3">
  <div class="d-flex">
    <h1 class="text-primary d-flex align-items-center">Courses sous-traitées</h1>
    <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
      <i class="ri-close-line ri-2x" aria-hidden="true"></i>
      <span class="visually-hidden">Fermer</span>
    </a>
  </div>
  <h2 class="h4 p-3 text-primary">{{ userFriendlyDate$ | async }}</h2>
  <hr />
  <div class="d-flex h-100 flex-column overflow-auto p-3">
    <ng-container *ngIf="(subcontractedFares$ | async) as fares">
      <div *ngFor="let fare of fares; let i = index" class="d-flex mb-3 p-3 border rounded position-relative">
        <div class="flex-grow-1">
          <div class="d-flex">
            <div class="me-auto">
              <i class="ri-user-line"></i>
              <span class="fw-bold d-block">
                {{fare.departureTime}} - {{ fare.passenger.civility }} {{ fare.passenger.lastname }} => {{
                fare.subcontractor.identity }}
              </span>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-between mt-2">
            <span class="text-muted pe-1">{{ fare.departure.name }} - {{ fare.arrival.name }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
