<ng-container *ngIf="usernameControl">
  <label for="username" class="form-label">Adresse électronique ou numéro de téléphone portable</label>
  <div class="input-group mb-3 has-validation" [class.is-invalid]="usernameControl.touched && usernameControl.invalid">
    <i class="input-group-text ri-mail-line" aria-hidden="true"></i>
    <input id="username" type="text" class="form-control form-control-lg border-start-0" [formControl]="usernameControl" />
    <div class="invalid-feedback" *ngIf="errors | fieldErrorMessages : 'username' as errorMessages">
      {{ errorMessages.at(0) }}
    </div>
  </div>
</ng-container>
