<h1>Ajouter une course</h1>
<form
  [formGroup]="scheduleFareForm"
  [appLoadAction]="scheduleFare$"
  #loadAction="loadAction"
  (actionSuccess)="onScheduleFareActionSuccess()"
  (actionError)="onScheduleFareActionError($event)"
  (ngSubmit)="onSubmitFareToSchedule(loadAction.start)">
  <div>
    <label for="clientIdentity">Client:</label>
    <app-client-field
      (selectClient)="onSelectClientChange($event)"
      (searchClientTerm)="onSearchClientTermChange($event)"></app-client-field>
    <input id="clientIdentity" type="hidden" formControlName="clientIdentity" />
  </div>
  <div>
    <label for="clientPhone">Téléphone:</label>
    <input id="clientPhone" type="text" formControlName="clientPhone" />
  </div>
  <div>
    <label for="date">Le:</label>
    <input id="date" type="date" formControlName="date" />
  </div>
  <div>
    <label for="startTime">A:</label>
    <input id="startTime" type="time" formControlName="startTime" />
  </div>
  <div>
    Départ de:
    <app-place-field (selectPlace)="onSelectDepartureChange($event)"></app-place-field>
    <input id="driveFrom" type="hidden" formControlName="driveFrom" />
  </div>
  <div>
    <label for="driveTo">Arrivée:</label>
    <app-place-field (selectPlace)="onSelectDestinationChange($event)"></app-place-field>
    <input id="driveTo" type="hidden" formControlName="driveTo" />
  </div>
  <!-- TODO Refactor with appLoadAction -->
  <div *ngIf="estimateJourney$ | async"></div>
  <div>
    <label for="driveTo">Durée (secondes, pipe à faire):</label>
    <input id="duration" type="number" formControlName="duration" />
  </div>
  <div>
    <label for="driveTo">Distance (metres, pipe à faire):</label>
    <input id="distance" type="number" formControlName="distance" />
  </div>
  <div>
    <label for="planning">Chauffeur:</label>
    <app-user-field (selectUser)="onSelectDriverChange($event)"></app-user-field>
    <input id="planning" type="hidden" formControlName="planning" />
  </div>
  <div class="border border-secondary p-1">
    <app-predict-recurrence
      [fromDate]="scheduleFareForm.controls.date.getRawValue()"
      (predictRecurrenceSuccess)="onPredictRecurrenceSuccessChange($event)"></app-predict-recurrence>
  </div>
  <input id="recurrence" type="hidden" formControlName="recurrence" />
  <div>
    <label for="driveKind">Type de trajet:</label>
    <select id="driveKind" formControlName="driveKind">
      <option value="one-way">Aller simple</option>
      <option value="outward">Aller</option>
      <option value="return">Retour</option>
    </select>
  </div>
  <div>
    <label for="driveNature">Nature du trajet:</label>
    <select id="driveNature" formControlName="driveNature">
      <option value="medical">Medical</option>
      <option value="standard">Non médical</option>
    </select>
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn btn-primary mt-5 p-3 w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Créer la course</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Création en cours...
    </ng-container>
  </button>
</form>
