<div class="card card-custom mb-4">
  <div class="card-header header-custom">
    <h6 class="card-title justify-space-between">
      <div>
        🕐{{ fare.time }} 👤{{ fare.client }} 📞
        <a href="tel:{{ fare.phone }}">{{ fare.phone }}</a>
      </div>
      <div style="height: 32px">
        <img *ngIf="fare.nature === 'medical'" src="assets/icon/prescription2.svg" class="h-100 p-1" alt="medical-fare" />
        <img *ngIf="fare.kind === 'one-way'" src="assets/icon/arrow-right.svg" class="h-100 p-1" alt="one-way-fare" />
        <img
          *ngIf="fare.kind === 'outward' || fare.kind === 'go-back'"
          src="assets/icon/arrow-left-right.svg"
          class="h-100 p-1"
          alt="two-way-fare" />
      </div>
    </h6>
    <!--<h6 class="card-subtitle mb-2 text-muted">Créateur: {{ fare.creator }}</h6>-->
  </div>
  <div class="card-body body-custom">
    <a href="geo:{{ fare.departure }}">Récupérer le passager ici</a>
    <br />
    <a href="geo:{{ fare.destination }}">Déposer le passager là</a>
    <br />
    <a
      href="https://www.google.com/maps/dir/?api=1&origin={{ fare.departure }}&destination={{ fare.destination }}"
      target="_blank">
      Voir l'itinéraire sur maps
    </a>
    <br />
    {{ fare.distance }} | {{ fare.duration }} minutes
    <br />
  </div>
</div>
