<div class="card card-custom mb-4">
  <div class="card-header header-custom">
    <h6 class="card-title">
      🕐{{ fare.time }} 👤{{ fare.client }} 📞
      <a href="tel:{{ fare.phone }}">{{ fare.phone }}</a>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Créateur: {{ fare.creator }}</h6>
  </div>
  <div class="card-body body-custom">
    <a href="geo:{{ fare.departure }}">Récupérer le passager ici</a>
    <br />
    <a href="geo:{{ fare.destination }}">Déposer le passager là</a>
    <br />
    Distance: {{ fare.distance }} m
    <br />
    Durée: {{ fare.duration }} minutes
    <br />
    <div class="badge-container">
      <span [ngClass]="getKindBadgeClass(fare.kind)">{{ fare.kind }}</span>
      <span [ngClass]="getNatureBadgeClass(fare.nature)">{{ fare.nature }}</span>
      <span [ngClass]="getStatusBadgeClass(fare.status)">{{ fare.status }}</span>
    </div>
  </div>
</div>
