<div class="card card-custom">
  <div class="card-header header-custom">
    <h5 class="card-title">Client: {{ fare.client }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Créateur :{{ fare.creator }}</h6>
  </div>
  <div class="card-body body-custom">
    Depart: {{ fare.departure }}
    <br />
    Arrivée: {{ fare.destination }}
    <br />
    Distance: {{ fare.distance }} km
    <br />
    Durée: {{ fare.duration }}
    <br />
    Kind: {{ fare.kind }}
    <br />
    Nature: {{ fare.nature }}
    <br />
    Phone: {{ fare.phone }}
    <br />
    Status: {{ fare.status }}
    <br />
    Time: {{ fare.time }}
    <br />
  </div>
</div>
