.card {
  text-align: left;
}

.card-custom {
  border: 1px solid #9a9595;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.header-custom {
  background-color: #9797b5; /* choose the color you want */
}

.body-custom {
  background-color: #c7c7d3; /* choose the color you want */
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
