<div class="px-3 py-5 container-fluid">
  <div class="row m-3">
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/daily-list']">Planning quotidien liste</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/agenda-manager']">Agenda Manager</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/agenda']">Agenda Personnel</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/billing']">Facturation</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/planning/daily']">Planning quotidien</button>
    <button class="btn btn-primary mb-3" [routerLink]="['/dashboard']">Nouvelle page d'accueil (WIP)</button>
  </div>
</div>
