<ng-container *ngIf="estimateJourney$ | async">
  <div class="mb-3">
    <label class="form-label">Estimation du trajet</label>
    <div class="input-group">
      <input
        id="driveDuration"
        placeholder="Durée"
        type="number"
        class="form-control"
        name="driveDuration"
        [formControl]="durationFieldControl" />
      <span class="input-group-text me-3">minutes</span>
      <input
        id="driveDistance"
        placeholder="Distance"
        type="number"
        class="form-control"
        name="driveDistance"
        [formControl]="distanceFieldControl" />
      <span class="input-group-text">kilomètres</span>
    </div>
  </div>
</ng-container>

<!--
<ng-container *ngIf="estimateJourney$ | async">
  <div class="mb-3">
    <label for="driveDuration" class="form-label">Estimation temps et distance</label>
    <div class="input-group">
      <input
        id="driveDuration"
        placeholder="Durée en minutes"
        type="number"
        class="form-control"
        name="driveDuration"
        [formControl]="durationFieldControl" />
      <div class="input-group-append">
        <span class="input-group-text">minutes</span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="driveDistance" class="form-label">Distance du trajet</label>
    <div class="input-group">
      <input
        id="driveDistance"
        placeholder="Distance en km"
        type="number"
        class="form-control"
        name="driveDistance"
        [formControl]="distanceFieldControl" />
      <div class="input-group-append">
        <span class="input-group-text">kilomètres</span>
      </div>
    </div>
  </div>
</ng-container>
-->
