<ng-container *ngIf="estimateJourney$ | async">
  <div class="mb-3">
    <label class="form-label">Estimation du trajet</label>
    <div class="input-group">
      <input
        id="driveDuration"
        placeholder="Durée"
        type="number"
        class="form-control"
        name="driveDuration"
        [formControl]="durationFieldControl" />
      <span class="input-group-text me-3">minutes</span>
      <input
        id="driveDistance"
        placeholder="Distance"
        type="number"
        class="form-control"
        name="driveDistance"
        [formControl]="distanceFieldControl" />
      <span class="input-group-text">kilomètres</span>
    </div>
  </div>
</ng-container>
