<form [formGroup]="formGroup">
  <label for="client" class="visually-hidden"><ng-content></ng-content></label>
  <div class="input-group">
    <span class="input-group-text px-2">
      <i class="text-muted ri-search-line ri-lg"></i>
    </span>
    <input
      #clientInput
      type="search"
      placeholder="Rechercher..."
      name="client"
      id="client"
      class="form-control"
      autocomplete="off"
      aria-describedby="client"
      aria-haspopup="true"
      formControlName="client"
      [attr.aria-describedby]="clientNotFound ? 'client-desc-error' : null"
      [attr.aria-expanded]="clientResultsDropdown.expanded$ | async"
      (input)="
        search(clientInput.value);
        clientInput.value.length <= minSearchTermLength ? clientResultsDropdown.reduce() : clientResultsDropdown.expand()
      "
      (focus)="
        clientInput.value.length <= minSearchTermLength ? clientResultsDropdown.reduce() : clientResultsDropdown.expand()
      "
      (keyup.escape)="clientResultsDropdown.reduce()"
      (keyup.enter)="clientResultsDropdown.activeIndex = 0; clientResultsDropdown.focus()" />
    <button type="button" *ngIf="clientInput.value && displayReset" class="btn input-group-btn" (click)="clear()">
      <i class="ri-close-line"></i>
    </button>
    <ng-content></ng-content>
  </div>
  <ul
    #clientResultsDropdown="clientResultsDropdown"
    appClientResultsDropdown
    [dropdownControl]="clientInput"
    [class.show]="clientResultsDropdown.expanded$ | async"
    class="dropdown-menu position-absolute mt-1"
    aria-labelledby="client">
    <li #results *ngFor="let client of (clientsFound$ | async) ?? []; index as clientIndex; trackBy: trackByClientName">
      <button
        type="button"
        class="dropdown-item"
        [class.active]="clientResultsDropdown.activeIndex === clientIndex"
        [attr.aria-current]="clientResultsDropdown.activeIndex === clientIndex ? true : null"
        (focusin)="clientResultsDropdown.setIndex(clientIndex)"
        (focusout)="clientResultsDropdown.setIndex(-1)"
        (click)="setClientSuggestion(client); clientResultsDropdown.reduce()">
        <b>{{ client.lastname }} {{ client.firstname }}</b>
        <br />
        <small>{{ client.phone }}</small>
      </button>
    </li>
  </ul>
</form>
