<!--
<div class="d-flex flex-column h-100">
  <div class="d-flex flex-grow-1 overflow-hidden g-0">
    <div
      appHorizontalMouseScroll
      class="d-flex flex-column overflow-y-auto"
      [ngClass]="dailyOutlet.isActivated ? 'col-1' : 'col'">
      <div class="p-3 sticky-top bg-light shadow-sm start-0">
        <h1>
          Planning du
          <input
            #planningField
            type="date"
            [value]="planningDay$ | async"
            class="form-control form-control-lg w-auto d-inline align-bottom"
            (change)="onPlanningDateChange(planningField.value)" />
        </h1>
        <div class="lead mb-1">
          <app-planning-settings (planningSettingsChange)="planningSettings = $event"></app-planning-settings>
        </div>
      </div>
      <div class="flex-grow-1 pt-2" *ngIf="plannings$ | async as plannings">
        <app-planning [interval]="planningSettings.interval" [start]="planningSettings.start" [end]="planningSettings.end">
          <app-planning-row
            *ngFor="let planning of plannings"
            class="d-flex"
            slotLink="schedule-fare"
            [context]="planning"
            [sessions]="planning.fares"
            [template]="fare"
            (selectSlot)="onPlanningSlotClick($event)">
            <b slot="header">{{ planning.driver.username }}</b>
            <ng-template #fare let-fare="session" let-context="context">
              <app-fare-planning-session
                [fare]="fare"
                [rowContext]="context"
                (selectSession)="onPlanningSessionClick($event)"></app-fare-planning-session>
            </ng-template>
          </app-planning-row>
        </app-planning>
      </div>
    </div>
    <div class="shadow p-4 border-start bg-white overflow-auto" [ngClass]="dailyOutlet.isActivated ? 'col-11' : 'd-none'">
      <router-outlet #dailyOutlet="outlet"></router-outlet>
    </div>
  </div>
</div>
-->
