<div class="d-flex h-100 flex-column overflow-auto p-3">
  <div class="d-flex">
    <h1 class="text-primary d-flex align-items-center">
      Planifier
      <app-date></app-date>
    </h1>
    <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../../">
      <i class="ri-close-line ri-2x" aria-hidden="true"></i>
      <span class="visually-hidden">Fermer</span>
    </a>
  </div>
  <h2 class="h5 text-primary">{{ userFriendlyDate$ | async }}</h2>
  <hr />
  <div class="mb-4">
    <label class="form-label">Passager</label>
    <app-regular-field
      [regularFieldControl]="regularControl"
      (selectedValue)="onSelectRegularChange($event)"></app-regular-field>
  </div>
  <ng-container *ngIf="(regular$ | async) as regular">
    <ng-container *ngIf="(validRegular$ | async)">
      <app-fare-form
        mode="scheduled"
        [fareForm]="scheduleFareForm"
        [action$]="scheduleFare$"
        [drivers]="(drivers$ | async) ?? []"
        [regular]="regular"
        [selectedDate]="selectedDate$ | async"
        [initialValues]="(prefilledFare$ | async) ?? {}"
        (actionSuccess)="onScheduleFareActionSuccess($event)"
        (actionError)="onScheduleFareActionError($event)"></app-fare-form>
      <hr />
      <app-allocate-unassigned
        mode="create"
        [fareForm]="scheduleFareForm"
        [regularControl]="regularControl"></app-allocate-unassigned>
    </ng-container>
  </ng-container>
</div>
