<div class="px-lg-5 px-2 w-100">
  <h1 class="text-primary mb-4">Réinitialisation du mot de passe</h1>
  <p class="text-secondary mb-5">
    Vous y êtes presque 🤏
    <br />
    Il vous suffit de définir votre nouveau mot de passe et de le confirmer avec le code que vous avez reçu par
    <ng-container [ngSwitch]="defaultUsername">
      <ng-container *ngSwitchCase="null">mail ou par SMS.</ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="defaultUsername | isPhone; else isEmail">SMS.</ng-container>
        <ng-template #isEmail>mail.</ng-template>
      </ng-container>
    </ng-container>
  </p>
  <form class="mb-4" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <app-username-field
      *ngIf="defaultUsername === null"
      [usernameControl]="username"
      [touched]="username.touched"
      [errors]="username.errors"></app-username-field>
    <app-password-field
      [passwordControl]="password"
      [touched]="password.touched"
      [errors]="password.errors"
      [displayAllErrors]="true">
      <ng-container slot="hint">Doit contenir minuscule, majuscule, chiffre et caractère spécial</ng-container>
    </app-password-field>
    <app-code-field [codeControl]="code" [touched]="code.touched" [errors]="code.errors"></app-code-field>
    <div class="text-danger mt-2" *ngIf="resetPasswordForm.errors?.['unknown']">
      Une erreur inconnue est survenue pendant la réinitialisation de mot de passe.
    </div>
    <div class="text-danger mt-2" *ngIf="resetPasswordForm.errors?.[limitExceededErrorName]">
      Il y a eu trop de tentatives d'envoie de code de réinitialisation.
      <br />
      Veuillez réessayer un peu plus tard.
    </div>
    <app-submit [isLoading]="(isLoading$ | async) ?? false">
      Réinitialiser le mot de passe
      <ng-container slot="loading-text">Mise à jour du mot de passe en cours...</ng-container>
    </app-submit>
  </form>
</div>
