<h1>Affecter le retour</h1>
<form
  [formGroup]="affectReturnForm"
  [appLoadAction]="affectReturn$"
  #loadAction="loadAction"
  (actionSuccess)="onAffectReturnActionSuccess()"
  (actionError)="onAffectReturnActionError($event)"
  (ngSubmit)="onSubmitReturnToAffect(loadAction.start)">
  <input id="fareId" type="hidden" formControlName="fareId" />
  <div>
    <label for="startTime">A:</label>
    <input id="startTime" type="time" formControlName="startTime" />
  </div>
  <div>
    Départ de:
    <app-place-field (selectPlace)="onSelectDepartureChange($event)"></app-place-field>
    <input id="driveFrom" type="hidden" formControlName="driveFrom" />
  </div>
  <div>
    <label for="driveTo">Arrivée:</label>
    <app-place-field (selectPlace)="onSelectDestinationChange($event)"></app-place-field>
    <input id="driveTo" type="hidden" formControlName="driveTo" />
  </div>
  <div>
    <label for="planning">Chauffeur:</label>
    <app-user-field (selectUser)="onSelectDriverChange($event)"></app-user-field>
    <input id="planning" type="hidden" formControlName="planning" />
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn btn-primary mt-5 p-3 w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Affecter le retour</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Affectation en cours...
    </ng-container>
  </button>
</form>
