<app-autocomplete-field
  placeholder="Sélectionner un numéro de téléphone"
  [minSearchTermLength]="0"
  [emptyValue]="phoneEmptyValue"
  [toSearchTerm]="toSearchTerm"
  [toTrackBy]="toTrackBy"
  [query$]="query$"
  [formGroup]="searchFormGroup"
  [validator]="phoneValuesValidator"
  [revalidate]="{ status: phoneFieldControl.statusChanges | async, touched: phoneFieldControl.touched }"
  [prefilled]="prefilled"
  [resultFilter]="resultsFilter"
  [setDefaultSelectedValue]="defaultValue"
  (selectedValue)="onSelectedValueChange($event)">
  <ng-template #resultTemplate let-templatedValue>
    <b>{{ templatedValue.phoneType }}</b>
    -
    <b>{{ templatedValue.phoneNumber }}</b>
  </ng-template>
  <ng-template #selectedValueTemplate let-selectedValue>
    <ng-container *ngIf="selectedValue.phoneType === ''"><small>Pas de téléphone sélectionné</small></ng-container>
    <ng-container *ngIf="selectedValue.phoneType !== ''">
      <small>Téléphone sélectionné: {{ selectedValue.phoneType }}</small>
    </ng-container>
  </ng-template>
</app-autocomplete-field>
