<div class="d-flex">
  <h2 class="pt-2 pb-2 text-primary">Gérer les retours</h2>
  <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
    <i class="ri-close-line ri-2x" aria-hidden="true"></i>
    <span class="visually-hidden">Fermer</span>
  </a>
</div>
<hr />
<div class="mb-3">
  <label class="form-label">Sélectionner un retour</label>
  <app-pending-field
    [fareFieldControl]="fareControl"
    [prefilled]="(pendingReturns$ | async) ?? []"
    (selectedValue)="onSelectPendingReturnChange($event)"></app-pending-field>
</div>
<ng-container *ngIf="(pageData$ | async) as data">
  <ng-container *ngIf="displayIfValidSelection(data.fare)">
    <h3 class="mb-3 text-primary h5">Modifier la course</h3>
    <form
      [formGroup]="schedulePendingForm"
      [appLoadAction]="schedulePending$"
      #scheduleLoadAction="loadAction"
      (actionSuccess)="onSchedulePendingActionSuccess($event)"
      (actionError)="onSchedulePendingActionError($event)"
      (ngSubmit)="onSubmitPendingToSchedule(scheduleLoadAction.start)">
      <div class="mb-3">
        <label class="form-label">Téléphone à appeler</label>
        <app-phone-field
          [phoneFieldControl]="schedulePendingForm.controls.phoneToCall"
          [phone]="data.fare.passenger.phone"
          [prefilled]="data.regularValues.phones === undefined ? [] : data.regularValues.phones"></app-phone-field>
      </div>
      <div class="mb-3">
        <label for="departureDatetime" class="form-label">Date et heure du départ</label>
        <input
          id="departureDatetime"
          type="datetime-local"
          class="form-control"
          name="departureDatetime"
          formControlName="departureDatetime" />
      </div>
      <div class="mb-3">
        <label class="form-label">Lieu de départ</label>
        <app-place-field
          [placeFieldControl]="schedulePendingForm.controls.departurePlace"
          [place]="data.fare.departure"
          [prefilled]="data.regularValues.homeAddress === undefined ? [] : [data.regularValues.homeAddress]"
          (selectedValue)="onDepartureSelectedValueChange($event)"></app-place-field>
      </div>
      <div class="mb-3" formControlErrors="arrivalPlace">
        <label class="form-label">Destination</label>
        <app-place-field
          [placeFieldControl]="schedulePendingForm.controls.arrivalPlace"
          [place]="data.fare.destination"
          [prefilled]="data.regularValues.homeAddress === undefined ? [] : [data.regularValues.homeAddress]"
          (selectedValue)="onDestinationSelectedValueChange($event)"></app-place-field>
      </div>
      <app-estimate-journey-fields
        [form]="$any(schedulePendingForm)"
        [estimateJourney]="estimateJourney$ | async"
        (formControlUpdated)="updateEstimateFields($event)"></app-estimate-journey-fields>
      <div class="mb-3">
        <label class="form-label">Chauffeur</label>
        <app-driver-field
          [driverFieldControl]="schedulePendingForm.controls.driver"
          [driver]="data.fare.driver"
          [prefilled]="data.drivers"></app-driver-field>
      </div>
      <button
        [appLoadActionDisplay]="scheduleLoadAction.isLoading$ | async"
        #scheduleLoadActionDisplay
        type="submit"
        class="btn mt-3 btn-primary w-100"
        [disabled]="scheduleLoadActionDisplay.isLoading">
        <ng-container slot="loadActionDisplayIdle">Modifier la course</ng-container>
        <ng-container slot="loadActionDisplayLoading">
          <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
          Modification en cours...
        </ng-container>
      </button>
      <div class="text-danger mt-2" *ngIf="schedulePendingForm.errors?.['validationFailedBeforeApiCallError']">
        La structure des données de la requête ne respecte pas le contrat de transfer. La requête ne peut pas être effectuée.
        Prévenir Romain qu'il va faire des heures supp'.
      </div>
      <div class="text-danger mt-2" *ngIf="schedulePendingForm.errors">
        Une erreur est survenue lors de l'appel au service distant.
      </div>
    </form>
    <!-- <hr />
    <h3 class="mb-3 text-primary h5">Sous-traiter le retour (irréversible)</h3>
   <form
      [formGroup]="subcontractFareForm"
      [appLoadAction]="subcontractFare$"
      #subcontractLoadAction="loadAction"
      (actionSuccess)="onSubcontractFareActionSuccess($event)"
      (actionError)="onSubcontractFareActionError($event)"
      (ngSubmit)="onSubmitFareToSubcontract(subcontractLoadAction.start)">
      <div class="mb-3 mt-3">
        <label for="subcontractor" class="form-label">Sous-traitant</label>
        <input
          id="subcontractor"
          type="text"
          placeholder="Identité du sous-traitant"
          class="form-control"
          name="subcontractor"
          formControlName="subcontractor" />
      </div>
      <button
        [appLoadActionDisplay]="subcontractLoadAction.isLoading$ | async"
        #subcontractLoadActionDisplay
        [disabled]="subcontractLoadActionDisplay.isLoading"
        type="submit"
        class="btn mt-3 btn-warning text-white w-100">
        <ng-container slot="loadActionDisplayIdle">Sous-traiter la course</ng-container>
        <ng-container slot="loadActionDisplayLoading">
          <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
          Sous-traitance en cours...
        </ng-container>
      </button>
      <div class="text-danger mt-2" *ngIf="editFareForm.errors?.['validationFailedBeforeApiCallError']">
        La structure des données de la requête ne respecte pas le contrat de transfer. La requête ne peut pas être effectuée.
        Prévenir Romain qu'il va faire des heures supp'.
      </div>
      <div class="text-danger mt-2" *ngIf="editFareForm.errors">
        Une erreur est survenue lors de l'appel au service distant.
      </div>
    </form>-->

    <!--<hr />
    <h3 class="mb-3 text-primary h5">Supprimer le retour (irréversible)</h3>
    <button
      [appLoadAction]="deleteFare$"
      #deleteLoadAction="loadAction"
      (actionSuccess)="onDeleteFareActionSuccess($event)"
      (actionError)="onDeleteFareActionError($event)"
      (click)="onClickDeleteFare(deleteLoadAction.start)"
      [appLoadActionDisplay]="deleteLoadAction.isLoading$ | async"
      #deleteLoadActionDisplay
      type="button"
      class="btn btn-danger mt-2 w-100"
      [disabled]="deleteLoadActionDisplay.isLoading">
      <ng-container slot="loadActionDisplayIdle">Supprimer la course</ng-container>
      <ng-container slot="loadActionDisplayLoading">
        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
        Suppression en cours...
      </ng-container>
    </button>-->
  </ng-container>
</ng-container>
