<app-autocomplete-field
  placeholder="Rechercher une adresse, un lieu-dit..."
  [emptyValue]="driverEmptyValue"
  [toSearchTerm]="toSearchTerm"
  [toTrackBy]="toTrackBy"
  [query$]="query$"
  [resultFilter]="resultFilter"
  [formGroup]="searchFormGroup"
  [validator]="driverValuesValidator"
  [revalidate]="{ status: driverFieldControl.statusChanges | async, touched: driverFieldControl.touched }"
  [prefilled]="prefilled"
  [setDefaultSelectedValue]="defaultValue"
  (selectedValue)="onSelectedValueChange($event)">
  <ng-template #resultTemplate let-templatedValue>
    <b>{{ templatedValue.username }}</b>
    <br />
    <small>{{ templatedValue.identifier }}</small>
  </ng-template>
  <ng-template #selectedValueTemplate let-selectedValue>
    <ng-container *ngIf="selectedValue.username === ''"><small>Pas de chauffeur sélectionné</small></ng-container>
    <ng-container *ngIf="selectedValue.username !== ''">
      <small>Chauffeur : {{ selectedValue.identifier }}</small>
    </ng-container>
  </ng-template>
</app-autocomplete-field>
