<div class="card border-0 shadow-sm h-100">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title d-flex mb-0">{{ fare.title }}</h5>
      <ng-container *ngIf="fare.isMedicalDrive">
        <span class="visually-hidden">Trajet médical</span>
        <i class="ms-auto ri-stethoscope-line text-muted" aria-hidden="true"></i>
      </ng-container>
    </div>
    <div class="d-flex">
      <a href="tel:{{ fare.phoneToCall }}">{{ fare.phoneDisplay }}</a>
      <i
        class="align-bottom ms-auto text-muted"
        [class.ri-arrow-right-line]="!fare.isTwoWayDrive"
        [class.ri-arrow-left-right-line]="fare.isTwoWayDrive"
        aria-hidden="true"></i>
    </div>
    <p class="small my-3">
      Départ: {{ fare.departure.context }}
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ fare.departure.context }}&travelmode=driving">
        GoogleMaps
      </a>
      {{ ' - ' }}
      <a
        href="https://www.waze.com/ul?ll={{ fare.departure.location.latitude }}%2C{{
          fare.departure.location.longitude
        }}&navigate=yes">
        Waze
      </a>
      <br />
      Destination : {{ fare.destination.context }}
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ fare.destination.context }}&travelmode=driving">
        GoogleMaps
      </a>
      {{ ' - ' }}
      <a
        href="https://www.waze.com/ul?ll={{ fare.destination.location.latitude }}%2C{{
          fare.destination.location.longitude
        }}&navigate=yes">
        Waze
      </a>
    </p>
    Estimation distance: {{ fare.distance }} Km
    <br />
    Estimation temps: {{ fare.duration }} minutes
    <br />
  </div>
</div>
