<div class="card border-0 shadow-sm h-100">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title d-flex mb-0">{{ fare.title }}</h5>
      <div class="d-flex">
        <ng-container *ngIf="fare.isMedicalDrive; else nonMedicalDrive">
          <span class="visually-hidden">Trajet médical</span>
          <i class="ri-hospital-line small text-muted pe-1 ps-1" style="font-size: 18px" aria-hidden="true"></i>
        </ng-container>
        <ng-template #nonMedicalDrive>
          <span class="visually-hidden">Trajet non médical</span>
          <i class="ri-money-euro-box-line small text-muted pe-1 ps-1" style="font-size: 18px" aria-hidden="true"></i>
        </ng-template>
        <ng-container *ngIf="fare.isTwoWayDrive; else oneWayDrive">
          <span class="visually-hidden">Trajet Aller retour</span>
          <i class="ri-arrow-left-right-line small text-muted pe-1 ps-1" style="font-size: 18px" aria-hidden="true"></i>
        </ng-container>
        <ng-template #oneWayDrive>
          <span class="visually-hidden">Trajet simple</span>
          <i class="ri-arrow-right-line small text-muted pe-1 ps-1" style="font-size: 18px" aria-hidden="true"></i>
        </ng-template>
      </div>
    </div>
    <div class="d-flex">
      <a href="tel:{{ fare.phoneToCall }}">{{ fare.phoneDisplay }}</a>
    </div>
    <p class="small my-3">
      Départ: {{ fare.departure.context }}
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ fare.departure.context }}&travelmode=driving">
        GoogleMaps
      </a>
      {{ ' - ' }}
      <a
        href="https://www.waze.com/ul?ll={{ fare.departure.location.latitude }}%2C{{
          fare.departure.location.longitude
        }}&navigate=yes">
        Waze
      </a>
      <br />
      Destination : {{ fare.destination.context }}
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ fare.destination.context }}&travelmode=driving">
        GoogleMaps
      </a>
      {{ ' - ' }}
      <a
        href="https://www.waze.com/ul?ll={{ fare.destination.location.latitude }}%2C{{
          fare.destination.location.longitude
        }}&navigate=yes">
        Waze
      </a>
    </p>
    Estimation distance: {{ fare.distance }} Km
    <br />
    Estimation temps: {{ fare.duration }} minutes
    <br />
  </div>
</div>
