<app-autocomplete-field
  placeholder="Rechercher un retour par passager, chauffeur, destination"
  [minSearchTermLength]="0"
  [emptyValue]="fareEmptyValue"
  [toSearchTerm]="toSearchTerm"
  [resultFilter]="resultFilter"
  [toTrackBy]="toTrackBy"
  [query$]="query$"
  [formGroup]="searchFormGroup"
  [validator]="fareValuesValidator"
  [revalidate]="{ status: fareFieldControl.statusChanges | async, touched: fareFieldControl.touched }"
  [prefilled]="prefilled"
  [setDefaultSelectedValue]="defaultValue"
  (selectedValue)="onSelectedValueChange($event)">
  <ng-template #resultTemplate let-templatedValue>
    <b>
      {{ passengerIdentity(templatedValue.passenger) }} -
      {{ templatedValue.destination.label }}
    </b>
    <br />
    <small>{{ templatedValue.driver.username }}</small>
  </ng-template>
  <ng-template #selectedValueTemplate let-selectedValue>
    <ng-container *ngIf="selectedValue.id === ''"><small>Pas de course sélectionnée</small></ng-container>
    <ng-container *ngIf="selectedValue.id !== ''">
      <small>
        Course: {{ time(selectedValue.datetime) }} - {{ passengerIdentity(selectedValue.passenger) }} -
        {{ selectedValue.destination.label }}
      </small>
    </ng-container>
  </ng-template>
</app-autocomplete-field>
