<h1 class="mb-5">Plannings: {{ ddMMYYYYtoday }}</h1>
<ng-container *ngIf="plannings$ | async as plannings">
  <app-planning [start]="7 * 60" [end]="19 * 60">
    <b slot="title">Plannings</b>
    <app-planning-row *ngFor="let planning of plannings" [sessions]="planning.fares" [template]="fare">
      <ng-container slot="header">{{ planning.name }}</ng-container>
      <ng-template #fare let-fare="session">
        🕐{{ fare.time }} 👤{{ fare.client }}
        <br />
        📞
        <a class="text-white" href="tel:{{ fare.phone }}" target="_blank">{{ fare.phone }}</a>
        <br />
        <div style="white-space: nowrap">De: {{fare.departure}}</div>
        <div style="white-space: nowrap">A: {{ fare.destination}}</div>
        <a
          class="text-white"
          href="https://www.google.com/maps/dir/?api=1&origin={{ fare.departure}}&destination={{ fare.destination}}"
          target="_blank">
          Voir l'itinéraire
        </a>
      </ng-template>
    </app-planning-row>
  </app-planning>
</ng-container>

<h1 class="mb-5">Agendas {{ ddMMYYYYtoday }}</h1>
<ng-container *ngIf="plannings$ | async as faresByPlanning">
  <div class="d-flex flex-row overflow-auto">
    <div class="container mb-1" *ngFor="let planning of faresByPlanning">
      <h2>Planning de {{ planning.name }}</h2>
      <div class="row">
        <div class="col-md-6 offset-md-1" *ngFor="let fare of planning.fares">
          <app-fare-details [fare]="fare"></app-fare-details>
        </div>
      </div>
    </div>
  </div>
</ng-container>
