<form [formGroup]="formGroup">
  <label for="pendingReturns" class="visually-hidden"><ng-content></ng-content></label>
  <div class="input-group">
    <span class="input-group-text pe-0">
      <i class="text-muted ri-search-line" aria-hidden="true"></i>
    </span>
    <input
      #pendingReturnsInput
      type="search"
      placeholder="Rechercher un retour par le nom du passager"
      name="pendingReturns"
      id="pendingReturns"
      class="form-control border-start-0"
      autocomplete="off"
      aria-describedby="pendingReturns"
      aria-haspopup="true"
      formControlName="pendingReturns"
      [attr.aria-describedby]="pendingReturnsNotFound ? 'pendingReturns-desc-error' : null"
      [attr.aria-expanded]="pendingReturnsResultsDropdown.expanded$ | async"
      (input)="
        search(pendingReturnsInput.value);
        pendingReturnsInput.value.length <= minSearchTermLength
          ? pendingReturnsResultsDropdown.reduce()
          : pendingReturnsResultsDropdown.expand()
      "
      (focus)="
        pendingReturnsInput.value.length <= minSearchTermLength
          ? pendingReturnsResultsDropdown.reduce()
          : pendingReturnsResultsDropdown.expand()
      "
      (keyup.escape)="pendingReturnsResultsDropdown.reduce()"
      (keyup.enter)="pendingReturnsResultsDropdown.activeIndex = 0; pendingReturnsResultsDropdown.focus()" />
    <button type="button" *ngIf="pendingReturnsInput.value && displayReset" class="btn input-group-btn" (click)="clear()">
      <i class="ri-close-line"></i>
    </button>
    <ng-content></ng-content>
  </div>
  <ul
    #pendingReturnsResultsDropdown="pendingReturnsResultsDropdown"
    appPendingReturnsResultsDropdown
    [dropdownControl]="pendingReturnsInput"
    [class.show]="pendingReturnsResultsDropdown.expanded$ | async"
    class="dropdown-menu position-absolute mt-1"
    aria-labelledby="pendingReturns">
    <li
      #results
      *ngFor="
        let pendingReturns of (pendingReturnssFound$ | async) ?? [];
        index as pendingReturnsIndex;
        trackBy: trackByPendingReturnsId
      ">
      <button
        type="button"
        class="dropdown-item"
        [class.active]="pendingReturnsResultsDropdown.activeIndex === pendingReturnsIndex"
        [attr.aria-current]="pendingReturnsResultsDropdown.activeIndex === pendingReturnsIndex ? true : null"
        (focusin)="pendingReturnsResultsDropdown.setIndex(pendingReturnsIndex)"
        (focusout)="pendingReturnsResultsDropdown.setIndex(-1)"
        (click)="setPendingReturnsSuggestion(pendingReturns); pendingReturnsResultsDropdown.reduce()">
        <b>{{ pendingReturns.passenger }}</b>
        <br />
        <small>{{ pendingReturns.departurePlace.label }} =></small>
        <br />
        <small>{{ pendingReturns.arrivalPlace.label }}</small>
      </button>
    </li>
  </ul>
</form>
