<div id="page" class="d-flex flex-column h-100 overflow-hidden">
  <div class="p-3 sticky-top shadow-sm start-0">
    <h1 class="h3">
      Planning du
      <input
        #planningField
        type="date"
        [value]="planningDay$ | async"
        class="form-control form-control-lg w-auto d-inline align-bottom"
        (change)="onPlanningDateChange(planningField.value)" />
    </h1>
  </div>
  <div
    id="planning-list-container"
    class="flex-grow-1 pt-2 overflow-auto d-flex flex-nowrap w-100"
    *ngIf="plannings$ | async as plannings">
    <app-planning-list-column
      *ngFor="let planning of plannings"
      [driver]="planning.driver"
      [fares]="planning.fares"></app-planning-list-column>
  </div>
</div>
