<label for="password" class="form-label">Mot de passe</label>
<div class="input-group has-validation mb-3" [class.is-invalid]="passwordControl.touched && passwordControl.invalid">
  <i class="input-group-text ri-lock-line" aria-hidden="true"></i>
  <input
    id="password"
    class="form-control form-control-lg border-start-0 border-end-0"
    [formControl]="passwordControl"
    aria-describedby="passwordHelp"
    appPasswordDisplay
    #password="passwordDisplay"
    [type]="password.isDisplayed ? 'text' : 'password'" />
  <button
    class="btn border border-start-0"
    type="button"
    [class.active]="password.isDisplayed"
    (click)="password.toggleDisplay()">
    <i
      class="ri-lg align-middle"
      [ngClass]="password.isDisplayed ? 'ri-eye-off-line text-primary' : 'ri-eye-line text-muted'"
      aria-hidden="true"></i>
    <span class="visually-hidden">Afficher le mot de passe</span>
  </button>
  <div class="w-100">
    <ng-container *ngIf="displayAllErrors; else firstError">
      <ul class="invalid-feedback ps-3" *ngIf="errors | fieldErrorMessages : 'password' as passwordErrorMessages">
        <li *ngFor="let passwordErrorMessage of passwordErrorMessages">{{ passwordErrorMessage }}</li>
      </ul>
    </ng-container>
    <ng-template #firstError>
      <div class="invalid-feedback" *ngIf="errors | fieldErrorMessages : 'password' as errorMessages">
        {{ errorMessages.at(0) }}
      </div>
    </ng-template>
    <div *ngIf="passwordControl.untouched || passwordControl.valid" id="passwordHelp" class="form-text">
      <ng-content select="[slot=hint]"></ng-content>
    </div>
  </div>
</div>
