$gray-500: #adb5bd;
$gray-600: #6c757d;
$primary: #065ad8;
$danger: #ff335a;
$danger-text: $danger;
$secondary: $gray-600;
$text-muted: $gray-500;
$input-bg: #fafcfe;
$input-group-addon-bg: $input-bg;
$input-group-addon-color: $secondary;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';

@import 'icons';
