<div class="d-flex flex-wrap py-4 h-100 flex-column">
  <div class="d-flex flex-grow-0 flex-shrink-0">
    <div class="position-sticky start-0 bg-light me-4" style="width: 200px; margin-top: -25px; padding-top: 25px; z-index: 1">
      <ng-content select="[slot=title]"></ng-content>
    </div>
    <div class="border-start border-2" [style.min-width.px]="columnWidth" *ngFor="let timeInMinutes of timesInMinutes$ | async">
      <div class="d-inline-flex" style="transform: translate(-50%, -100%)">{{ timeInMinutes | minutesToTime }}</div>
    </div>
  </div>
  <!-- overflow-auto -->
  <div class="d-flex flex-grow-1 flex-shrink-1 flex-column">
    <ng-content select="app-planning-row"></ng-content>
  </div>
</div>
