<form
  [formGroup]="fareForm"
  [appLoadAction]="action$"
  #loadAction="loadAction"
  (actionSuccess)="onActionSuccess($event)"
  (actionError)="onActionError($event)"
  (ngSubmit)="onSubmit(loadAction.start)">
  <div class="mb-3">
    <label class="form-label">Téléphone à appeler</label>
    <app-phone-field
      [phoneFieldControl]="fareForm.controls.phoneToCall"
      [phone]="initialValues.phoneToCall"
      [prefilled]="regular.phones ?? []"></app-phone-field>
  </div>
  <div class="mb-3" formControlErrors="departureDatetime">
    <label for="departureDatetime" class="form-label">Date et heure du départ</label>
    <input
      id="departureDatetime"
      type="datetime-local"
      class="form-control"
      name="departureDatetime"
      formControlName="departureDatetime"
      [ngClass]="validation(fareForm.controls.departureDatetime)" />
  </div>
  <div class="mb-3">
    <label class="form-label">Lieu de départ</label>
    <app-waypoint-field
      [waypointFieldControl]="fareForm.controls.departurePlace"
      [waypoint]="initialValues.departurePlace"
      [prefilled]="regular.waypoints ?? []"></app-waypoint-field>
  </div>
  <div class="mb-3" formControlErrors="arrivalPlace">
    <label class="form-label">Destination</label>
    <app-waypoint-field
      [waypointFieldControl]="fareForm.controls.arrivalPlace"
      [waypoint]="initialValues.arrivalPlace"
      [prefilled]="regular.waypoints ?? []"
      (selectedValue)="onArrivalSelected($event)"></app-waypoint-field>
  </div>
  <app-estimate-journey-field
    [durationFieldControl]="fareForm.controls.driveDuration"
    [distanceFieldControl]="fareForm.controls.driveDistance"
    [origin]="fareForm.controls.departurePlace.valueChanges | async"
    [destination]="fareForm.controls.arrivalPlace.valueChanges | async"
    [date]="fareForm.controls.departureDatetime.valueChanges | async"></app-estimate-journey-field>
  <div class="mb-3">
    <label class="form-label">Chauffeur</label>
    <app-driver-field
      [driverFieldControl]="fareForm.controls.driver"
      [driver]="initialValues.driver"
      [prefilled]="drivers"></app-driver-field>
  </div>
  <div class="mb-3" *ngIf="mode !== 'pending'">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="isTwoWayDrive"
        name="isTwoWayDrive"
        formControlName="isTwoWayDrive"
        [checked]="this.initialValues.isTwoWayDrive" />
      <label class="form-check-label" for="isTwoWayDrive">Ce trajet comporte un retour</label>
    </div>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="isMedicalDrive"
        name="isMedicalDrive"
        formControlName="isMedicalDrive"
        [checked]="this.initialValues.isMedicalDrive" />
      <label class="form-check-label" for="isMedicalDrive">Ce trajet est de nature médicale</label>
    </div>
  </div>
  <hr />
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn mt-3 btn-primary w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">{{ mode === 'edit-scheduled' ? 'Editer' : 'Créer' }} la course</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      {{ mode === 'edit-scheduled' ? 'Edition' : 'Création' }} en cours...
    </ng-container>
  </button>
  <div class="text-danger mt-2" *ngIf="fareForm.errors?.['validationFailedBeforeApiCallError']">
    La structure des données de la requête ne respecte pas le contrat de transfer. La requête ne peut pas être effectuée.
    Prévenir Romain qu'il va faire des heures supp'.
  </div>
  <div class="text-danger mt-2" *ngIf="fareForm.errors">Une erreur est survenue lors de l'appel au service distant.</div>
</form>
