<h3 class="mb-3 text-primary h5">Course sans attribution</h3>
<button
  [appLoadAction]="unassignedFare$"
  #loadAction="loadAction"
  (actionSuccess)="onActionSuccess($event)"
  (actionError)="onActionError($event)"
  (click)="onClick(loadAction.start)"
  [appLoadActionDisplay]="loadAction.isLoading$ | async"
  #unassignedLoadActionDisplay
  type="button"
  class="btn btn-secondary mt-2 w-100"
  [disabled]="unassignedLoadActionDisplay.isLoading">
  <ng-container slot="loadActionDisplayIdle">
    {{ mode === 'create' ? 'Créer la' : 'Transformer en' }} course sans chauffeur attribué.
  </ng-container>
  <ng-container slot="loadActionDisplayLoading">
    <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
    {{ mode === 'create' ? 'Création' : 'Edition' }} en cours...
  </ng-container>
</button>
