<div class="d-flex">
  <h2 class="pt-2 pb-4">Affecter le retour</h2>
  <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
    <i class="ri-close-line ri-2x" aria-hidden="true"></i>
    <span class="visually-hidden">Fermer</span>
  </a>
</div>
<form
  [formGroup]="affectReturnForm"
  [appLoadAction]="affectReturn$"
  #loadAction="loadAction"
  (actionSuccess)="onAffectReturnActionSuccess()"
  (actionError)="onAffectReturnActionError($event)"
  (ngSubmit)="onSubmitReturnToAffect(loadAction.start)">
  <div>
    Retour de:
    <app-return-to-affect-field
      [date]="selectedDate"
      (selectReturnToAffect)="onSelectReturnToAffectChange($event)"></app-return-to-affect-field>
    <input id="fareId" type="hidden" formControlName="fareId" />
  </div>
  <div>
    <label for="startTime">A:</label>
    <input id="startTime" type="time" formControlName="startTime" />
  </div>
  <div>
    Départ de:
    <app-place-field
      [defaultValue]="(departureDefault$ | async) ?? ''"
      (selectPlace)="onSelectDepartureChange($event)"></app-place-field>
    <input id="driveFrom" type="hidden" formControlName="driveFrom" />
  </div>
  <div>
    <label for="driveTo">Arrivée:</label>
    <app-place-field
      [defaultValue]="(destinationDefault$ | async) ?? ''"
      (selectPlace)="onSelectDestinationChange($event)"></app-place-field>
    <input id="driveTo" type="hidden" formControlName="driveTo" />
  </div>
  <div>
    <label for="planning">Chauffeur:</label>
    <app-user-field
      [defaultValue]="(driverDefault$ | async) ?? ''"
      (selectUser)="onSelectDriverChange($event)"></app-user-field>
    <input id="planning" type="hidden" formControlName="planning" />
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn btn-primary mt-5 p-3 w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Affecter le retour</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Affectation en cours...
    </ng-container>
  </button>
</form>
