<div class="d-flex">
  <h2 class="pt-2 pb-4 text-primary">Affecter le retour</h2>
  <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
    <i class="ri-close-line ri-2x" aria-hidden="true"></i>
    <span class="visually-hidden">Fermer</span>
  </a>
</div>
<form
  [formGroup]="affectReturnForm"
  [appLoadAction]="affectReturn$"
  #loadAction="loadAction"
  (actionSuccess)="onAffectReturnActionSuccess()"
  (actionError)="onAffectReturnActionError($event)"
  (ngSubmit)="onSubmitReturnToAffect(loadAction.start)">
  <div class="mb-3">
    <label for="fareId" class="form-label">Retour pour le passager</label>
    <app-return-to-affect-field
      [date]="selectedDate"
      (selectReturnToAffect)="onSelectReturnToAffectChange($event)"></app-return-to-affect-field>
    <input id="fareId" type="hidden" name="fareId" formControlName="fareId" />
  </div>
  <div class="mb-3">
    <label for="departureDatetime" class="form-label">Date et heure du retour</label>
    <input
      id="departureDatetime"
      type="datetime-local"
      class="form-control"
      name="departureDatetime"
      formControlName="departureDatetime" />
  </div>
  <div class="mb-3">
    <label for="departurePlace" class="form-label">Lieu de départ</label>
    <app-place-field (selectPlace)="onSelectDepartureChange($event)"></app-place-field>
    <input id="departurePlace" type="hidden" name="departurePlace" formControlName="departurePlace" />
  </div>
  <div class="mb-3">
    <label for="arrivalPlace" class="form-label">Lieu d'arrivée</label>
    <app-place-field (selectPlace)="onSelectDestinationChange($event)"></app-place-field>
    <input id="arrivalPlace" type="hidden" name="arrivalPlace" formControlName="arrivalPlace" />
  </div>
  <div class="mb-3">
    <label for="fareDuration" class="form-label">Durée du trajet</label>
    <input
      id="fareDuration"
      placeholder="Durée en minutes"
      type="number"
      class="form-control"
      name="fareDuration"
      formControlName="fareDuration" />
  </div>
  <div class="mb-3">
    <label for="fareDistance" class="form-label">Distance du trajet</label>
    <input
      id="fareDistance"
      placeholder="Distance en km"
      type="number"
      class="form-control"
      name="fareDistance"
      formControlName="fareDistance" />
  </div>
  <div class="mb-3">
    <label for="chauffeur" class="form-label">Chauffeur</label>
    <app-user-field (selectUser)="onSelectDriverChange($event)"></app-user-field>
    <input id="chauffeur" type="hidden" name="chauffeur" formControlName="chauffeur" />
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn btn-primary mt-3 w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Affecter le retour</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Affectation en cours...
    </ng-container>
  </button>
</form>
