<div class="d-flex">
  <h2 class="pt-2 pb-4 text-primary">Ajouter une course</h2>
  <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../">
    <i class="ri-close-line ri-2x" aria-hidden="true"></i>
    <span class="visually-hidden">Fermer</span>
  </a>
</div>
<form
  [formGroup]="scheduleFareForm"
  [appLoadAction]="scheduleFare$"
  #loadAction="loadAction"
  (actionSuccess)="onScheduleFareActionSuccess()"
  (actionError)="onScheduleFareActionError($event)"
  (ngSubmit)="onSubmitFareToSchedule(loadAction.start)">
  <div class="mb-3">
    <label for="clientIdentity" class="form-label">Nom du passager</label>
    <app-client-field
      (selectClient)="onSelectClientChange($event)"
      (searchClientTerm)="onSearchClientTermChange($event)"></app-client-field>
    <input id="clientIdentity" type="hidden" name="clientIdentity" formControlName="clientIdentity" />
  </div>
  <div class="mb-3">
    <label for="clientPhone" class="form-label">Téléphone du contact</label>
    <input
      id="clientPhone"
      type="text"
      placeholder="+33(0) 6 XX XX XX XX"
      class="form-control"
      name="clientPhone"
      formControlName="clientPhone" />
  </div>
  <div class="mb-3">
    <label for="departureDatetime" class="form-label">Date et heure du départ</label>
    <input
      id="departureDatetime"
      type="datetime-local"
      class="form-control"
      name="departureDatetime"
      formControlName="departureDatetime" />
  </div>
  <div class="mb-3">
    <label for="departurePlace" class="form-label">Lieu de départ</label>
    <app-place-field (selectPlace)="onSelectDepartureChange($event)"></app-place-field>
    <input id="departurePlace" type="hidden" name="departurePlace" formControlName="departurePlace" />
  </div>
  <div class="mb-3">
    <label for="arrivalPlace" class="form-label">Lieu d'arrivée</label>
    <app-place-field (selectPlace)="onSelectDestinationChange($event)"></app-place-field>
    <input id="arrivalPlace" type="hidden" name="arrivalPlace" formControlName="arrivalPlace" />
  </div>
  <div class="mb-3">
    <label for="fareDuration" class="form-label">Durée du trajet</label>
    <input
      id="fareDuration"
      placeholder="Durée en minutes"
      type="number"
      class="form-control"
      name="fareDuration"
      formControlName="fareDuration" />
  </div>
  <div class="mb-3">
    <label for="fareDistance" class="form-label">Distance du trajet</label>
    <input
      id="fareDistance"
      placeholder="Distance en km"
      type="number"
      class="form-control"
      name="fareDistance"
      formControlName="fareDistance" />
  </div>
  <div class="mb-3">
    <label for="chauffeur" class="form-label">Chauffeur</label>
    <app-user-field (selectUser)="onSelectDriverChange($event)"></app-user-field>
    <input id="chauffeur" type="hidden" name="chauffeur" formControlName="chauffeur" />
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="driveKind"
        name="driveKind"
        formControlName="driveKind"
        checked />
      <label class="form-check-label" for="driveKind">Ce trajet comporte un retour</label>
    </div>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="driveNature"
        name="driveNature"
        formControlName="driveNature"
        checked />
      <label class="form-check-label" for="driveNature">Ce trajet est de nature médicale</label>
    </div>
  </div>
  <button
    [appLoadActionDisplay]="loadAction.isLoading$ | async"
    #loadActionDisplay
    type="submit"
    class="btn mt-3 btn-primary w-100"
    [disabled]="loadActionDisplay.isLoading">
    <ng-container slot="loadActionDisplayIdle">Créer la course</ng-container>
    <ng-container slot="loadActionDisplayLoading">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Création en cours...
    </ng-container>
  </button>
</form>
