<div class="flex-shrink-0 h-100">
  <div class="driver-header text-nowrap p-3">
    {{ driver }}
  </div>
  <div class="fare text-nowrap card p-3" *ngFor="let fare of fares">
    <div>
      <b>{{ fare.time }} - {{ fare.passenger }}</b>
      <br />
      <ng-container *ngIf="fare.contactPhone.length === 0"><small>Pas de téléphone enregistré</small></ng-container>
      <ng-container *ngIf="fare.contactPhone.length !== 0">
        <small>Contact: {{ fare.contactPhone }}</small>
      </ng-container>
      <br />
      <br />
      De:
      <strong>{{ fare.departure.waypointName }}</strong>
      <br />
      <small>{{ fare.departure.place.context }}</small>
      <br />
      <br />
      A:
      <strong>{{ fare.arrival.waypointName }}</strong>
      <br />
      <small>{{ fare.arrival.place.context }}</small>
      <br />
      Kilométrage: {{ fare.distance }} Km
      <br />
      Aller/Retour: {{ fare.isTwoWayDrive ? 'oui' : 'non' }}
      <br />
    </div>
  </div>
</div>
