<div class="mb-3">
  <div class="mb-2">
    <button type="button" class="btn btn-primary" (click)="addPhone(undefined)">Ajouter un téléphone</button>
  </div>
  <div *ngFor="let phone of parentArray.controls; let i = index" class="border p-3 my-2 rounded">
    <div class="mb-3">
      <div class="mb-1" formControlErrors="phoneType" [formArrayErrors]="parentArray" [formArrayErrorsIndex]="i">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="phoneTypeLabel">Type:</span>
          </div>
          <input
            id="phoneType"
            placeholder="portable, travail..."
            type="text"
            class="form-control"
            [ngClass]="validation(phone.controls.phoneType)"
            aria-describedby="phoneTypeLabel"
            name="phoneType"
            [formControl]="phone.controls.phoneType" />
        </div>
      </div>
      <div class="mb-1" formControlErrors="phoneNumber" [formArrayErrors]="parentArray" [formArrayErrorsIndex]="i">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="phoneNumberLabel">Numéro:</span>
          </div>
          <input
            id="phoneNumber"
            type="text"
            placeholder="(+33)/(0) 6 XX XX XX XX"
            class="form-control"
            [ngClass]="validation(phone.controls.phoneNumber)"
            aria-describedby="phoneNumberLabel"
            name="phoneNumber"
            [formControl]="phone.controls.phoneNumber" />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="removePhoneNumber(i)">Supprimer</button>
  </div>
</div>
