<div class="d-flex h-100 flex-column overflow-auto p-3">
  <div class="d-flex">
    <h1 class="text-primary d-flex align-items-center">
      Editer
      <app-date></app-date>
    </h1>
    <a class="btn btn-link link-dark text-decoration-none ms-auto" title="Fermer" routerLink="../../">
      <i class="ri-close-line ri-2x" aria-hidden="true"></i>
      <span class="visually-hidden">Fermer</span>
    </a>
  </div>
  <h2 class="h5 text-primary">{{ userFriendlyDate$ | async }}</h2>
  <hr />
  <ng-container *ngIf="fareFromUrl$ | async as fare; else selectFare">
    <div class="mb-2"><strong>Course: {{ fareSummary(fare) }}</strong></div>
  </ng-container>
  <ng-template #selectFare>
    <label class="form-label">Course</label>
    <app-scheduled-field
      [fareFieldControl]="fareControl"
      [prefilled]="(scheduledFares$ | async) ?? []"
      (selectedValue)="onSelectScheduledFareChange($event)"></app-scheduled-field>
  </ng-template>
  <ng-container *ngIf="(regular$ | async) as regular">
    <!-- TODO refactor and invert container once place as destinations is done -->
    <ng-container *ngIf="(initialFareValues$ | async) as fare">
      <ng-container *ngIf="(validFare$ | async)">
        <app-fare-form
          mode="edit-scheduled"
          [fareForm]="editScheduledForm"
          [action$]="editScheduled$"
          [drivers]="(drivers$ | async) ?? []"
          [regular]="regular"
          [initialValues]="fare"
          (actionSuccess)="onEditScheduledActionSuccess($event)"
          (actionError)="onEditScheduledActionError($event)"></app-fare-form>
        <hr />
        <app-subcontract-fare [fareId]="fare.id!"></app-subcontract-fare>
        <hr />
        <app-delete-fare
          mode="fullsize"
          [action$]="deleteFare$$(fare.id!)"
          (actionSuccess)="onDeleteFareActionSuccess($event)"
          (actionError)="onDeleteFareActionError($event)"></app-delete-fare>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
